{% extends "includes/form_wrapper.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}{% if object %}Update{% else %}Create{% endif %} Worker{% endblock %}

{% block form_content %}
  <h2 class="text-center mb-4" style="color: #4ade80; font-weight: 600;">
    {% if object %}Update Worker{% else %}Create New Worker{% endif %}
  </h2>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success">Submit</button>
  </form>
{% endblock %}
